<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{titulo}}</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <ng-template #loadinganderror>
            <div *ngIf="(error$ | async) as errorMessage; else loading">
              <app-showerror [message]="errorMessage.message"></app-showerror>
            </div>
            <ng-template #loading>
              <app-loading></app-loading>
            </ng-template>
          </ng-template>
          <span *ngIf="(retornoApi$ | async) as dadosList; else loadinganderror">
            <form [formGroup]="formDetail">


              <div class="form-row">

                <div class="col-md-6 col-12">
                  <div class="form-group position-relative">
                    <label for="iddevi_tx_descricao">Nome</label>
                    <input type="text" id="iddevi_tx_descricao" formControlName="name"
                      class="form-control form-control-sm" name="name"
                      placeholder="Nome">
                  </div>
                </div>
  
                <div class="col-md-6 col-12">
                  <div class="form-group position-relative">
                    <label for="iddevi_tx_descricao">Squad</label>
                    <input type="text" id="iddevi_tx_descricao" formControlName="squad"
                      class="form-control form-control-sm" name="squad"
                      placeholder="Squad">
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group position-relative">
                    <label for="iddevi_tx_descricao">Usuário</label>
                    <input type="text" id="iddevi_tx_descricao" formControlName="login"
                      class="form-control form-control-sm" name="login"
                      placeholder="Usuário">
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group position-relative">
                    <label for="iddevi_tx_descricao">E-mail</label>
                    <input type="text" id="iddevi_tx_descricao" formControlName="email"
                      class="form-control form-control-sm" name="email"
                      placeholder="E-mail">
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group position-relative">
                    <label for="iddevi_tx_descricao">Avatar</label>
                    <input type="text" id="iddevi_tx_descricao" formControlName="avatar"
                      class="form-control form-control-sm" name="avatar"
                      placeholder="E-mail">
                  </div>
                </div>
  
              </div>


              <div class="form-row">

                <div class="col-sm-12 col-md-8">
                  <div class="form-row">


                    <!-- <div class="col-sm-12 col-md-3">
                      <div class="form-group position-relative">
                        <label for="form-action-5">Id Recuperação</label>
                        <ng-select class="custom" [items]="listaVersao" formControlName="vers_tx_idrecuperacao"
                          bindLabel="vers_tx_id" bindValue="vers_nr_sequencia">
                        </ng-select>
                      </div>
                    </div> -->

                    


                  </div>





                </div>

              </div>

              <div class="text-right">
                <button type="button" class="btn btn-sm btn-secondary mr-1 mb-1" (click)="goBack()">
                  <strong> <i class="ft-x cursor-pointer"></i>&nbsp;Voltar</strong>
                </button>
                <button type="button" class="btn btn-sm btn-danger mr-1 mb-1"
                  *ngIf="actionScreen=='delete';else edicao;" (click)="onSubmit(true)">
                  <strong> <i class="ft-x cursor-pointer"></i>&nbsp;Excluir registro</strong>
                </button>
                <ng-template #edicao>
                  <span *ngIf="actionScreen!=='read'">
                    <button type="button" class="btn btn-sm btn-primary mr-1 mb-1" *ngIf="actionScreen=='liberar'"
                      (click)="onSubmit(true)">
                      <strong> <i class="ft-check-square cursor-pointer"></i>&nbsp;Liberar Versão
                        {{actionScreen}}</strong>
                    </button>
                    <button type="button" class="btn btn-sm btn-success mr-1 mb-1" *ngIf="actionScreen!='liberar'"
                      (click)="onSubmit(true)">
                      <strong> <i class="ft-check-square cursor-pointer"></i>&nbsp;Salvar</strong>
                    </button>
                  </span>
                </ng-template>
              </div>

            </form>

            <span *ngIf="actionScreen!=='create'">
              <ul ngbNav #nav="ngbNav" [destroyOnHide]="false" class="nav-tabs justify-content-left">
              </ul>
              <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </span>

          </span>

        </div>
      </div>
    </div>
  </div>

</div>